body{
  font-size: 14px;
}

/* special formatting for fixed "Navigation Bar" at the top of the page*/
nav {
  background-color: red;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  padding: 100px;
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/* formatting for "example" content*/
.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

/* Specific changes to "element" contents */
.element {
  margin-top: 500px auto;
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* Specific changes to "feature" contents */
#feature {
  background-color: blue;
}
